@using DevExpress.Web.Mvc.UI;
@using DevExpress.Web.Mvc;
@using System.Web.Mvc;
@model MyModel
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    To learn more about DevExpress Extensions for ASP.NET MVC visit <a href="http://devexpress.com/Products/NET/Controls/ASP-NET-MVC/"
        title="ASP.NET MVC Website">http://devexpress.com/Products/NET/Controls/ASP-NET-MVC/</a>.
</p>
@using (Ajax.BeginForm(null,
    new RouteValueDictionary { { "controller", "Home" }, { "action", "PostData" } },
    new AjaxOptions() { UpdateTargetId = "myDiv", OnSuccess = "function() { _aspxProcessScriptsAndLinks('', true); }" })) {
        
    <div id="myDiv">
        @Html.Partial("Editors")
    </div>
    @Html.DevExpress().Button(settings => {
    settings.Name = "btn";
    settings.UseSubmitBehavior = true;
    settings.Text = "Submit data";
}).GetHtml()
}